#innerHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  height: 50px;
  width: 100%;
  background-color: #7c67b2;
}

.navLink {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 160px;
}

.navLink:hover {
  color: #fff;
  background-color: #5db102;
}
.sticky-wrapper {
  position: relative;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

@media screen and (max-width: 900px) {
  #innerHeader {
    height: 100px;
    flex-wrap: wrap;
  }
  .sticky-wrapper {
    width: 100%;
  }
  /* .sticky .sticky-inner {
    width: 100%;
  } */
  .navLink {
    width: 38%;
    /* border: 1px solid red; */
    font-size: 10px;
  }
  .dropdown nav-item {
    width: 35%;
  }
}
